<% provide(:title, 'Home') %>
</div>
<center><%= link_to image_tag("http://i48.tinypic.com/313k8xe.png")%>


</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

<%= link_to image_tag("http://i49.tinypic.com/303li8k.png")%>

<%= link_to image_tag("http://i49.tinypic.com/15nlr1l.png")%>
</br>
</br>
</br>
</br>
</br>
</br>
<%= link_to image_tag("http://i50.tinypic.com/mwbr7l.png")%>

<%= link_to image_tag("http://i46.tinypic.com/2dkn8f9.png")%>

</body>