
<% provide(:title, 'Welcome to kiido.ph') %>
</div>
 </div>

<!--  Carousel - consult the Twitter Bootstrap docs at
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <img src="http://i48.tinypic.com/351z71e.png" alt="" />
      
    </div>
    <div class="item">
      <img src="http://i48.tinypic.com/hrhfuc.png" alt="" />
     
    </div>
    <div class="item">
      <img src="http://placehold.it/1200x480" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1200x480" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->

 

</br>
</br>
</br>
</br>
</br>

</br>
</br>
</br>
</br>
</br>

<h7>Join our first Class</h7>
<br>
<br>
<br>
<br>
<h7>Topic: HTML 5 </h7>
<br>
<br>
&nbsp;<h8>HTML 5 for Everyone</h8>

<br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  <img src="http://i47.tinypic.com/2w382nr.png"/></a> 
<br>
<br>

<%= form_for(:signin, :url=> html5_path) do |f| %>
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;<%= f.submit "Enroll Now", :class=> "btn btn-large btn-primary" %>
    <% end %>

</ul>
<br>
<br>
<br>
<br>

<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Easy as 1 2 3</h1>
<br>
<br> <center>  <img src="http://i45.tinypic.com/3582rts.png"/></a> 
<br>
<br>
<br>
<br>
<br>
<br>


 <h1>We want you  to make a change Be a Teacher !</h1>

 <br> <center>  <img src="http://i50.tinypic.com/vsjmvc.png"/></a> 
<br>
<br>

<%= form_for(:teach, :url=> teach_path) do |f| %>
 <%= f.submit "Apply Now", :class=> "btn btn-large btn-primary" %>
    <% end %>

<br>

<br>
<br>
<br>

<br>
<br>
<br>


 <center><h3><%= link_to "Courses", course_path %> | <%= link_to "About", about_path %> | <%= link_to "Team", root_path %> | <%= link_to "Universities", root_path %> | <%= link_to "Teachers", root_path %> </center>

<br>
<br>
    
   
    <br>
<br>

   <center> Copyright 2013 OrangeApps © All Rights Reserved. </center>
    </div>
    </body>